<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      Home
    {{/link-to}}
    {{#link-to "about" }}
      About
    {{/link-to}}
    {{#link-to "contact" }}
      Contact
    {{/link-to}}
    {{#link-to "students"}}
      Student Details
    {{/link-to}}
  </div>
</div>
{{outlet}}
<br>
<a href="https://www.facebook.com/schooglink/" target="_blank" rel="noreferrer">Like Us</a>
